<div class="slide-back">
<img src="/images/slideshow/bamboo-palm.jpeg" id="slideshow-img" width="200px" height="200px" alt="Slideshow" />
<img id="slideshow-img2" src="/images/Aquadown.png" alt="">
</div>
 