{{#each data}}
<div>
    <h2>{{common_name}}</h2>
    <p>This plant requires "{{watering}}" watering.</p>
    <p>This plant requires "{{sunlight}}" sunlight.</p>
    <img="{{default_image}}">
</div>
{{/each}}