{{data}}
<form class="text-center" id="updatePlant">
    <p id="iD" hidden="true">{{id}}</p>
    <p>Did you change my name?</p>
    <input type="text" class="nick-name" id="nickPlant" placeholder="My Nickname?">

    <p>Did you give me water??</p>
    <input type="date" class="plant-water" id="waterPlant" placeholder="Last Water?">

    <p>Did you give me some plant food?</p>
    <input type="date" class="plant-food" id="foodPlant" placeholder="Last Meal?">

    <div>
        <button id="date-subm" type="submit" class="btn btn-primary">I cared for my Plant!</button>
    </div>
</form>